[Unit]
Description=Apply the dotfiles theme every 30 seconds

[Timer]
OnBootSec=30s
OnActiveSec=30s
OnUnitActiveSec=30s

[Install]
WantedBy=timers.target
